<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Requests Bluetooth permissions for devices running Android 12+ -->
    <!-- Allows app to look for other Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <!-- Allows app to make device discoverable to other Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <!-- Allows app to communicate w/ previously paired devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- Requests Bluetooth permissions for devices running Android 9-11 -->
    <!-- BLUETOOTH is used for any Bluetooth connection-->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <!-- BLUETOOTH_ADMIN is used to initiate device discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>

    <!-- Checks for Bluetooth LE compatibility -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoboticSortingSystem"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RoboticSortingSystem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>